<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>menu docente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ver Asistencia</ion-card-title>
    </ion-card-header>

    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" color="danger">
      Ver
    </ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle></ion-card-subtitle>
      <ion-card-title>Crear Asistencia</ion-card-title>
    </ion-card-header>
    <ion-button (click)="onClick()" expand="block" fill="clear" shape="round" color="danger">
      Generar Codigo QR
    </ion-button>
    <br>
    <ion-button (click)="cerrarSesion()" expand="block" fill="outline" shape="round">
      cerrar Sesion
    </ion-button>
  </ion-card>


</ion-content>
