<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>inicio sesion estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #formulario="ngForm" (ngSubmit)="onSubmit()">


    <ion-item>
      <ion-label>Nombre: </ion-label>
      <ion-input class="texto" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="usuario.nombre" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input class="texto" type="email" placeholder="Email" name="email" value="" [(ngModel)]="usuario.email"
        pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Password: </ion-label>
      <ion-input class="texto" type="password" placeholder="Contraseña" name="password" value="" [(ngModel)]="usuario.password"
        required>
      </ion-input>
    </ion-item>

    <ion-button class="texto" [disabled]="formulario.invalid" type="submit" expand="block" routerLink="/pagina-a">
      Enviar
    </ion-button>

    <ion-card>
      <ion-img src="assets/qr.PNG"></ion-img>
    </ion-card>
  </form>


</ion-content>
