<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="mapache">inicio sesion estudiante</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <form [formGroup]="formularioLogin">

          <ion-item>
            <ion-label position="floating">Correo: </ion-label>
            <ion-input type="email" formControlName="correo"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Password: </ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </form>
        <br>
        <ion-button (click)="Ingresar()" expand="block" fill="outline" shape="round">
          Ingresar
        </ion-button>
        <br>

        <ion-img src="assets/qr.PNG"></ion-img>
    </ion-card-content>
  </ion-card>


</ion-content>
