<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">


<ion-card>

  <ion-card-header>
    <ion-card-title class='cosa'>Aperture QR Conocenos</ion-card-title>
   
  </ion-card-header>

  <ion-card-content class='parrafo'>
    somos una empresa informatica que crea aplicaciones moviles que ayudan a establecimientos a crear asistencias mediante codigo QR
  </ion-card-content>
  
  <ion-img src="assets/duic.PNG"></ion-img>

</ion-card>

  
